{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- edit below -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Expenses Tracker</title>
</head>

<body>

<nav>
    <ul>
         <!-- edit below -->
        <li class="img"><img src="{% static 'images/dollar.png' %}"></li>
         <!-- edit below -->
        <li><a href="{% url 'home-page' %}">Expenses Tracker</a></li>
         <!-- edit below -->
        <li class="right"><a href="{% url 'profile' %}">Profile</a></li>
        
    </ul>
</nav>
    <div class="body">
        <h1>Are you sure you want to delete your profile?</h1>
        <!-- edit below -->
        <form method="POST">

            {% csrf_token %}
            <input class="button" type='submit' value='Confirm'>

        </form>
    </div>

<footer>
    <div>Python Web Basics Exam Preparation @SoftUni</div>
</footer>

</body>
</html>