{% extends 'base/base.html' %}

{% block title %}
    Categories
{% endblock %}

{% block search %}
    <form method='GET' class="d-flex">
    <input class="form-control me-2" type="search" name="q" value='{{ request.GET.q }}' placeholder="Search category" aria-label="Search">
    <button class="btn btn-primary" type="submit">Search</button>
    </form>
{% endblock %}

{% block content %}
<h1>Categories
    {% if user.is_authenticated and user.is_staff %}
    <small><a href="{% url 'category-add' %}" class="btn btn-success">Click here to add.</a></small>
    {% endif %}
<hr>
</h1>
<ul>
    {% for category in page_obj %}
        <li><a href="{% url 'category-detail' category.name|slugify %}">{{ category.name }}</a></li>
        Posts count: {{ category.post_set.count }}
        <hr>
    {% endfor %}

    <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
    {% endif %}

        <li class="page-item disabled"><a class="page-link" href="#"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a></li>

    {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
    {% endif %}
    </ul>
    </nav>

</ul>
{% endblock %}