{% extends 'base/base.html' %}

{% block title %}
    Categories
{% endblock %}

{% block search %}
    <form method='GET' class="d-flex">
    <input class="form-control me-2" type="search" name="q" value='{{ request.GET.q }}' placeholder="Search category" aria-label="Search">
    <button class="btn btn-primary" type="submit">Search</button>
    </form>
{% endblock %}

{% block content %}
    <h1>Categories
        {% if user.is_authenticated %}
        <small><a href="{% url 'category-add' %}" class="btn btn-success">Click here to add.</a></small>
        {% endif %}
    <hr>
    </h1>
    <ul>
        {% for category in object_list %}
            <li><a href="{% url 'category-detail' category.name|slugify %}">{{ category.name }}</a></li>
            Posts count: {{ category.post_set.count }}
            <hr>
        {% endfor %}
    </ul>
{% endblock %}