{% extends 'base/base.html' %}

{% block title %}
    Home
{% endblock %}

{% block search %}
    <form method='GET' class="d-flex">
    <input class="form-control me-2" type="search" name="q" value='{{ request.GET.q }}' placeholder="Search post" aria-label="Search">
    <button class="btn btn-primary" type="submit">Search</button>
    </form>
{% endblock %}

{% block content %}
    <h1>Posts</h1>
    <hr>
    <ul>
        {% for post in page_obj %}
            <img src="{{ post.author.profile.get_profile_picture }}" width=50 height=50 class="rounded-circle">
            <strong>Author:</strong> <a href="{% url 'profile' post.author.pk %}">{{ post.author.username }}</a>
            <hr>

            <li><strong>Title:</strong> <a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
            {{ post.snippet }}
            <br>
            <strong>Categories:</strong>
            {% for cat in post.category.all %}
                <a href="{% url 'category-detail' cat.name|slugify %}">{{ cat.name }}/</a>
            {% endfor %}
            <br>
            <strong>Date published:</strong> {{ post.date_published }}

            {% if user.is_authenticated %}
            <br>
            <a href="{% url 'post-edit' post.pk %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'post-delete' post.pk %}" class="btn btn-danger">Delete</a>

            {% endif %}
        <br><br>
        {% endfor %}
    </ul>

    <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
    {% endif %}

        <li class="page-item disabled"><a class="page-link" href="#"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a></li>

    {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
    {% endif %}
    </ul>
    </nav>

{% endblock %}