{% extends 'base/base.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <h1>Title: {{ post.title }}</h1>
    <img src="{{ post.author.profile.get_profile_picture }}" width=50 height=50 class="rounded-circle">
    <strong>Author:</strong> <a href="{% url 'profile' post.author.pk %}">{{ post.author.username }}</a>
    <hr>
    {{ post.content|safe }}
    <br/>
    <br/>
    <hr>
    Categories:
    {% for cat in post.category.all %}
        <a href="{% url 'category-detail' cat.name|slugify %}">{{ cat.name }}/</a>
    {% endfor %}
    <hr>
    <a href="{% url 'home' %}" class="btn btn-secondary">Go to Home</a>
    {% if user.is_authenticated %}
    <a href="{% url 'post-edit' post.pk %}" class="btn btn-warning">Edit</a>
    <a href="{% url 'post-delete' post.pk %}" class="btn btn-danger">Delete</a>
    <br>
    <br>
        <form action="{% url 'post-like' post.pk %}" method="POST">
            {% csrf_token %}
            {% if not liked %}
            <button type="submit" name="post_like_button" value="{{ post.pk }}" class="btn btn-primary btn-sm">
                Like
            </button>
                {% else %}
            <button type="submit" name="post_like_button" value="{{ post.pk }}" class="btn btn-danger btn-sm">
                UnLike
            </button>
                {% endif %}
                - {{ likes }}
        </form>
    <hr>
    Comments: <a href="{% url 'comment-add' post.pk %}" class="btn btn-success">Add</a>
    {% else %}
    <br>
    <br>
    Comments:
    <br>
    {% endif %}
    <hr>
    {% if not post.comments.all %}
    Nothing...
    {% else %}
        {% for comment in post.comments.all %}
            <strong>
                <img src="{{ comment.author.profile.get_profile_picture }}" width=50 height=50 class="rounded-circle">
                <a href="{% url 'profile' comment.author.pk %}">{{ comment.name }}</a>
            <br>
            </strong>
                <small>
                Published: {{ comment.date_published }}
                Modified: {{ comment.date_modified }}
                </small>
            <hr>
            <li><strong>{{ comment.content }}</strong></li>
            <hr>
        {% endfor %}
    {% endif %}
{% endblock %}
