{% extends 'base/base.html' %}

{% block title %}
    {{ cat }}
{% endblock %}

{% block content %}
    <h1>Posts related to {{ cat }}</h1>
    <ul>
        {% for post in posts_by_cat %}
            <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a> - {{ post.author.username }} - {{ post.author.email }}</li>
            {{ post.content|slice:':100'|safe }}
            <br>
            Categories:
            {% for cat in post.category.all %}
                {{ cat }}/
            {% endfor %}
            <br>
            Date published: {{ post.date_published }}
        {% endfor %}
    </ul>
{% endblock %}