{% extends 'base/base.html' %}

{% block title %}
    {{ cat }}
{% endblock %}

{% block content %}
    <h1>Posts related to {{ cat }}</h1>
    <hr>
    {% if posts_by_cat %}
    <ul>
        {% for post in posts_by_cat %}
            <img src="{{ post.author.profile.get_profile_picture }}" width=50 height=50 class="rounded-circle">
            <strong>Author:</strong> <a href="{% url 'profile' post.author.pk %}">{{ post.author.username }}</a>
            <hr>

            <li><strong>Title:</strong> <a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
            {{ post.snippet }}
            <br>
            <strong>Categories:</strong>
            {% for cat in post.category.all %}
                <a href="{% url 'category-detail' cat.name|slugify %}">{{ cat.name }}/</a>
            {% endfor %}
            <br>
            <strong>Date published:</strong> {{ post.date_published }}
            <br><br>
        {% endfor %}
    </ul>
        <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
    {% if posts_by_cat.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ posts_by_cat.previous_page_number }}">previous</a></li>
    {% endif %}

        <li class="page-item disabled"><a class="page-link" href="#"> Page {{ posts_by_cat.number }} of {{ posts_by_cat.paginator.num_pages }}.</a></li>

    {% if posts_by_cat.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ posts_by_cat.next_page_number }}">next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ posts_by_cat.paginator.num_pages }}">last &raquo;</a></li>
    {% endif %}
    </ul>
    </nav>
    {% else %}
        No posts yet. Click <a href="{% url 'post-add' %}">here</a> to add one.
    {% endif %}
{% endblock %}