{% extends 'base/base.html' %}
{% load crispy_forms_filters %}

{% block content %}

{% load crispy_forms_tags %}

<!--Login-->
<div class="container py-5">
  <h1>Login</h1>
  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
{#      {{ form }}#}
      <br>
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">Don't have an account? <a href="{% url 'register' %}">Create an account.</a></p>
{#    <br>#}
    <p class="text-center"><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
</div>

{% endblock %}