{% extends 'base/base.html' %}

{% load static %}

{% block title %}
    Profile
{% endblock %}

{% block content %}

    <img src="{{ profile.get_profile_picture }}" width=200 height=200 class="rounded-circle">
    <hr>
    Username: {{ profile.user.username }}
    <hr>
    Email: {{ profile.user.email }}
    <hr>
    Full name: {{ profile.user.first_name }} {{ profile.user.last_name }}
    <hr>
    Location: {{ profile.location }}
    <hr>
    Date of birth: {{ profile.birth_date }}
    <hr>
    Bio: {{ profile.bio }}
    <hr>

    <a href="{{ profile.get_facebook_url }}" class="bi bi-facebook" style="font-size: 2rem; color: dodgerblue"></a>
    <a href="{{ profile.get_twitter_url }}" class="bi bi-twitter" style="font-size: 2rem; color: deepskyblue"></a>
    <a href="{{ profile.get_github_url }}" class="bi bi-github" style="font-size: 2rem; color: black"></a>
    <a href="{{ profile.get_instagram_url }}" class="bi bi-instagram" style="font-size: 2rem; color: orangered"></a>
    <a href="{{ profile.get_linkedin_url }}" class="bi bi-linkedin" style="font-size: 2rem; color: dodgerblue"></a>

    <br><br><a href="{% url 'home' %}" class="btn btn-secondary">Go to Home</a>

    {% if user.is_authenticated %}
        {% if user.is_staff or user == profile.user %}
    <a href="{% url 'profile-edit' user.pk %}" class="btn btn-warning">Edit Profile</a>
        {% endif %}
    {% endif %}

{% endblock %}